[Unit]
Description=Fernsprechtischapparat
After=network-online.target

[Service]
ExecStart=/usr/bin/stdbuf -oL {install_dir}/autoupdater-venv/bin/python -m autoupdater {args}
WorkingDirectory={install_dir}
StandardOutput=inherit
StandardError=inherit
Restart=always
User={user}

[Install]
WantedBy=multi-user.target